<div class="entire w-auto p-5">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- emailAddress Column -->
      <ng-container matColumnDef="emailAddress">
        <th mat-header-cell *matHeaderCellDef> Email Address </th>
        <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
      </ng-container>
      <!-- departments Column -->
      <ng-container matColumnDef="departments">
        <th mat-header-cell *matHeaderCellDef> Departments </th>
        <td mat-cell *matCellDef="let element"> {{element.departmentNames}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="action-buttons">
            <button class="bg-transparent border-0" mat-button (click)="updateEmployee(element)">
              <span class="material-symbols-outlined text-info">
                edit
              </span>
            </button>
            <button class="bg-transparent border-0" mat-button (click)="deleteEmployee(element)">
              <span class="material-symbols-outlined text-danger">
                delete_forever
              </span>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="create-button float-end">
    <button type="button" class="btn btn-primary" (click)="createEmployee()"
      style="cursor: pointer; margin: 45px;">Create New</button>
  </div>
</div>